body {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

#home {padding-top:50px;height:750px;color: #fff; background-color: #1E88E5;}
#services {padding-top:50px;height:750px;color: black; background-color: white;}
#aboutus {padding-top:50px;height:750px;color: #fff; background-color: #ff9800;}
#contactus {padding-top:50px;height:750px;color: #fff; background-color: #262626;}
#gallery {padding-top:50px;height:750px;color: #fff; background-color: #1a53ff;}

