.gallery {
	font-family: Verdana, Geneva, sans-serif;

	h1 {
		text-align: center;
	}

	.container {
		margin-top: 50px;
	}

	.thumb {
    	margin-bottom: 30px;

    	.thumbnail {
    		box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);

    		.caption {
    			text-align: center;
    		}
    	}
	}
}