.services {
	h1 {
		text-align: center;
	}

	.box {
		background-color: #f2f2f2;
	    border-top: 1px solid #DFDFDF;
	    border-left: 1px solid #ECECEC;
	    border-radius: 8px;
	    border-right: 1px solid #ECECEC;
	    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
	    margin-bottom: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 20px;
	    min-height: 100px;
	    position: relative;
	    text-align: center;
	    display: inline-block;
	    z-index: 1;
	}

	.icon {
		border-radius: 100%;
	    color: #FFF;
	    font-size: 40px;
	    line-height: 110px;
	    margin: 25px 0;
	    padding: 0px;
	    display: inline-block;
	    width: 110px;
	    height: 110px;
	}

	.box-content-one {
		@extend .box;

	    border-bottom: 3px solid #ff751a;
	    border-bottom-width: 4px;
	    padding: 30px 30px 10px 30px;

	    h4 {
	    	color: #ff751a;
	    	font-size: 1.3em;
		    font-weight: 400;
		    letter-spacing: -0.7px;
		    margin-top: 5px;
    		text-transform: uppercase;
	    }

	    p {
	    	color: black;
	    }
	}

	.box-content-two {
		@extend .box;

	    border-bottom: 3px solid #33cc33;
	    border-bottom-width: 4px;
	    padding: 30px 30px 10px 30px;

	    h4 {
	    	color: #33cc33;
	    	font-size: 1.3em;
		    font-weight: 400;
		    letter-spacing: -0.7px;
		    margin-top: 5px;
    		text-transform: uppercase;
	    }

	    p {
	    	color: black;
	    }
	}

	.box-content-three {
		@extend .box;

	    border-bottom: 3px solid #0000e6;
	    border-bottom-width: 4px;
	    padding: 30px 30px 10px 30px;

	    h4 {
	    	color: #0000e6;
	    	font-size: 1.3em;
		    font-weight: 400;
		    letter-spacing: -0.7px;
		    margin-top: 5px;
    		text-transform: uppercase;
	    }

	    p {
	    	color: black;
	    }
	}

	.icon-one {
		@extend .icon;

		background-color: #ff751a;
	}

	.icon-two {
		@extend .icon;

		background-color: #33cc33;
	}

	.icon-three {
		@extend .icon;

		background-color: #0000e6;
	}
}